<!-- <img src="https://ngblobstest.blob.core.windows.net/pictures/testblobimage.jpg" alt="" style="width:400px;">
<video controls name="media" width="700">
  <source  src="https://ngblobstest.blob.core.windows.net/videso/videoAzure.mp4" type="video/mp4">
</video> -->


<h2>Pictures</h2>
<table>
  <tr>
    <td>Insert SAS:</td><td><input type="text" (change)="setSas($event)" size="90"></td>
  </tr>
  <tr>Current SAS: <td>{{sas}}</td></tr>
</table>
<h4>List</h4>
<table>
  <tr *ngFor="let item of picturesList">
    <td>{{item}}</td>
    <td><button (click)="downloadImage(item)" download="item">DOWNLOAD IMAGE</button></td>
    <td><button (click)="deleteImage(item)">DELETE</button></td>
  </tr>
</table>